# only run for: merge commits, releases and pull-requests
if: type != push OR branch = master OR branch =~ /^\d+\.\d+(\.\d+)?(-\S*)?$/

os: osx
language: swift
osx_image: xcode10.1
xcode_project: Path.swift.xcodeproj
xcode_scheme: Path.swift-Package
  
jobs:
  include:
    - script: swift test
      name: macOS
      
    - &xcodebuild
      before_install: swift package generate-xcodeproj
      xcode_destination: platform=iOS Simulator,OS=latest,name=iPhone XS
      name: iOS
    - <<: *xcodebuild
      xcode_destination: platform=tvOS Simulator,OS=latest,name=Apple TV
      name: tvOS
    - <<: *xcodebuild
      name: watchOS
      script: |
        set -o pipefail
        xcodebuild \
          -project Path.swift.xcodeproj \
          -scheme Path.swift-Package \
          -destination 'platform=watchOS Simulator,OS=latest,name=Apple Watch - 40mm' \
          build | xcpretty

      
    - env: SWIFT_VERSION=4.2.1
      os: linux
      name: Linux
      language: generic
      dist: trusty
      sudo: false
      install: eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
      script: swift test
